div{
    margin: 10px;
}
button{
    padding:5px;
    background-color:aliceblue;
    border:1px solid rgb(145, 196, 241);
    margin: 5px;
}
section{
    border-bottom:1px solid rgb(145, 196, 241);
    padding-bottom: 10px;
}
input{
    padding:3px;
}
input[type = "button"]{    
    margin-right: 10px;
}